* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
    background-color: #776B5D;
    color:white ;
}

section {
    background-color: #B0A695;
    color: white;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B0A695;
    color: white;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;

}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
}

.input_section > h2 {
    text-align: center;
    color: #EBE3D5;
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: #EBE3D5;
    color: #776B5D;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}


.input_section > form > .input > label {
    color:white;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
}

.search_section > h2 {
    color: white;
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 10px;
}

.search_section > form > label {
    display: flex;
    align-items: center;
}

.search_section > form > input {
    padding: 5px;
    border-radius: 5px;
}

.search_section > form > button {
    background-color: #EBE3D5;
    color: #776B5D;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf {
    margin: 16px 0 0 0;
    border: 1px solid black;
    padding: 16px;
    border-radius: 10px;
}

.book_shelf > h2 {
    color: white;
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: #9AD0C2;
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: #B47B84;
    color: white;
}
.book_shelf > .book_list > .book_item > .action > .red:hover {
    background-color:#f0455e;
    font-weight: bolder;
}
.book_shelf > .book_list > .book_item > .action > .green:hover{
    background-color: #55d1b0;
    font-weight: bolder;
}

dialog {
    border: 1px solid #D7E4C0;
    border-radius: 5px;
    padding: 10px;
    background-color: #D7E4C0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }

  /* Style the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    font-size: 20px;
    background-color: #D7E4C0;
    color: black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 80px;
  }

.modal-content button {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

  #deleteBookCancel {
    background-color: #9AD0C2;
  }
   #deleteBookConfirm {
    background-color: #B47B84;
  }
  
  .modal-content > #deleteBookCancel:hover {
    background-color: #55d1b0;
    font-weight: bolder;
  }
  .modal-content > #deleteBookConfirm:hover {
    background-color:#f0455e;
    font-weight: bolder;
}